@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: $555;
  margin: 25px;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

  margin-top: 70px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Raleway";
  font-weight: 300;
    text-align: center;
  color: $333;

}

h2 {
  text-align: center;
color: $333;
font-size: 28px;

}

input {
      border: none;
      color: white;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
     background-color: #f2f2f2;
      color: #333;
      border: 2px solid #008CBA;
  	border-radius: 12px;
}


input:hover {
    background-color: #008CBA;
    color: white;
}
